<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>抱歉！您找的页面不存在</title>
    <style>

        html,body{
            height: 100%;
            width: 100%;
            color: #000;
            background: #fff;
            margin: 0;
            padding: 0;
            font-family: Georgia, Palatino, serif;
            background:url({{url_for('static', filename='404.jpg', _external=True)}});
            background-size:100% 100%;
            background-repeat:no-repeat;
        }
    </style>
</head>
<body>

</body>
</html>